@import "tailwindcss";

@theme {
  --color-warm-50:  #FAF5EF;
  --color-warm-100: #F2E5D5;
  --color-warm-200: #E8D4BE;
  --color-warm-300: #D4B896;
  --color-warm-400: #BCA083;
  --color-warm-500: #A38974;
  --color-warm-600: #8A6E5D;
  --color-warm-700: #73544D;
  --color-warm-800: #5E4540;
  --color-warm-900: #4A3432;
  --color-warm-950: #2E1F1D;
}

*, *::before, *::after { box-sizing: border-box; }
body { margin: 0; font-family: 'Inter', sans-serif; }

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
